*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
  
}


/* header style  */
.header-bg{
    background-color: #264653;
}
.navbar-nav .nav-link{
    margin-right: 25px;
}
.btn-orange{
    background-color: #E76F51;
    color: white;
    padding: 7px 24px;
    border-radius:5px ;
    text-decoration: none;
}


/* featured style  */
.featured-head-title{
    color: #000000;
    font-weight: 700;
    font-size: 33px;
    
}
.featured-head-para{
    color: #E76F51;
    font-weight: 500;
}
.filter-img{
    filter: grayscale(100%);
}

/* client style  */
.client-section h2, .question-section h2, .brand-section h2, .contact-head{
    font-size: 33px;
    font-weight: 700;
}
.client-img{
    width: 45%;
}

.client-para{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.2px;
}
.fa-star{
    color: #E77C40;
}
.client-name{
    color: #23A6F0;
}
.card{
    border: 2px solid #DEDEDE;
}

/* Quwstions style */
.collapse-heading{
    color: #383838;
    font-size: 20px;
    font-weight: 500;
}
.para-collapse{
    font-size: 16px;
    line-height: 28px;
    color: #7E848C;
}

/* contact us */
#countup{
    min-height: 30vh;
    background-color: #622ac1;
}
#countup h1{
    font-weight: bold;
}
.service-box{
    padding: 30px;
    box-shadow: 1px 3px 8px -1px rgba(0,0,0,0.5);
    transition: 0.5s ease;
}
#pricing .btn{
    color: white;
    border: none;
    background-color: #622ac1;
}
.price-box{
    box-shadow: 1px 3px 8px -1px rgba(0,0,0,0.4);
}
.price-box h5{
    opacity: 0.8;
}
.price-heading{
    padding: 10px 10px;
    background-color: rgb(250, 241, 241);
}
#contact .info-box {
    padding: 30px;
    box-shadow: 1px 3px 8px -1px rgba(0,0,0,0.2);
    transition: 0.5s ease;
}




