*{
    margin: 0;
    padding: 0;
}

/* header style  */
.header-bg{
    background-color: #264653;
}
.navbar-nav .nav-link{
    margin-right: 25px;
}
.navbar-nav .btn-orange{
    background-color: #E76F51;
    color: white;
    padding: 7px 24px;
    border-radius:5px ;
    text-decoration: none;
    margin-left: 20px;
}